* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /*

    static =>
        1. As 4 propriedades não funcionam: top, left, bottom e right
        2. Ele segue o fluxo da página
        3. Esse é o padrão 
        
    fixed => 
        1. Fica fixo na página independente de rolar a página, ele não some
        2. Usa as 4 propriedades

    sticky => 
        1. Quando você chegar na minha posição, eu fico fixo.
        
    relative => 
        1. Usa as 4 propriedades (top, left,..) para movê-lo da posição normal

    abosolute =>
        1. Ele é posicionado em relação ao elemento a que ele está dentro (ex: div). Se não tiver, leva em consideração a pág.


        */


    width: 400px;
    height: 400px;
    background: blue;
}

.box {
    width: 200px;
    height: 200px;
    background: greenyellow;
}